<div class="modal-header">
    <h3 class="modal-title">Animal change confirmation</h3>
</div>
<div class="modal-body">
    <p>The animal you have selected is assigned to a different assessment template than the previous animal.</p>
    <p>If you confirm the change, currently entered scores will be cleared from the form.</p>
    <p>The scores will not be stored in database until you finalise or create/save the assessment.</p>
    <p>Clicking outside this dialog is equivalent to cancelling the change.</p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Confirm the change</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel the change</button>
</div>