<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>aw</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<!--
	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>ldapRealm</realm-name> 
		<form-login-config>
			<form-login-page>/login.html</form-login-page>
			<form-error-page>/login-failed.html</form-error-page> 
		</form-login-config>
	</login-config>
	-->
	
	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>jdbcRealm</realm-name>
		<form-login-config>
			<form-login-page>/login.html</form-login-page>
			<form-error-page>/login-failed.html</form-error-page>
		</form-login-config>
	</login-config>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Secure Pages</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Open Content</web-resource-name>
			<url-pattern>/resources/*</url-pattern>
		</web-resource-collection>
	</security-constraint>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
</web-app>