<h1 class="page-header text-center">Summary</h1>
<div class="panel panel-default">
    <div class="panel-body" ng-controller="IndexSummaryDataCtrl as summaryDataCtrl">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <h4>Assessments in the system:</h4>
            </div>
            <div class="col-xs-12 col-sm-9">
                <h4>{{summaryDataCtrl.assessmentsCount}}</h4>
            </div>
        </div>
    </div>
</div>
<a class="btn btn-primary btn-lg" href="#/new-assessment">New Animal Assessment</a>
