<h1 class="page-header text-center">Housing Management</h1>
<div class="container-fluid" ng-controller="MngmtHousingManagementCtrl as housingMngmtCtrl">
    <form name="housingManagementForm" class="form-horizontal">
        <div class="form-group" ng-controller="MngmtHousingSelectionCtrl as housingCtrl">
            <label for="{{housingCtrl.selectId}}" class="col-xs-3 control-label">Housing name: </label>
            <div class="col-xs-7">
                <aw-search-select2 class="form-control" elem-id="{{housingCtrl.selectId}}" controller="housingCtrl"></aw-search-select2>
            </div>
            <div ng-click="housingMngmtCtrl.startUpdate()" ng-hide="housingMngmtCtrl.isNewHousing">
                <button type="button" class="btn btn-default btn-sm">
                    <i class="glyphicon glyphicon-edit"></i>
                </button>
            </div>            
        </div>
        <div class="form-group" ng-controller="MngmtHousingSelectionUpdateCtrl as housingUpdateCtrl" ng-show="housingMngmtCtrl.isUpdatingHousing">
            <label for="{{housingUpdateCtrl.selectId}}" class="col-xs-3 control-label">Update housing name: </label>
            <div class="col-xs-7">
                <aw-select2 elem-id="{{housingUpdateCtrl.selectId}}" controller="housingUpdateCtrl"></aw-select2>
            </div>
            <div ng-click="housingMngmtCtrl.cancelUpdate()">
                <button type="button" class="btn btn-default btn-sm">
                    <i class="glyphicon glyphicon-remove"></i>
                </button>
            </div>         
        </div>        
        <div class="form-group">
            <div class="col-xs-12">
                <aw-success-display success="housingMngmtCtrl.isSuccess"></aw-success-display>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <aw-error-display errors="housingMngmtCtrl.errors"></aw-error-display>
            </div>
        </div>
        <div class="row">
            <hr />
        </div>
        <div class="row">
            <div class="col-xs-6" ng-show="housingMngmtCtrl.isNewHousing">
                <button type="button" class="btn btn-success btn-sm pull-right" ng-click="housingMngmtCtrl.submitHousing()">
                Create
                </button>
            </div>
            <div class="col-xs-6" ng-hide="housingMngmtCtrl.isNewHousing">
                <button type="button" class="btn btn-primary btn-sm pull-right" ng-click="housingMngmtCtrl.updateHousing()">
                Update
                </button>
            </div>
            <div class="col-xs-6">
                <button type="button" class="btn btn-danger btn-sm" ng-click="housingMngmtCtrl.clearHousing()">
                Clear
                </button>
            </div>
        </div>
    </form>
</div>
