<h1 class="page-header text-center">Source Management</h1>
<div class="container-fluid" ng-controller="MngmtSourceManagementCtrl as sourceMngmtCtrl">
    <form name="sourceManagementForm" class="form-horizontal">
        <div class="form-group" ng-controller="MngmtSourceSelectionCtrl as sourceCtrl">
            <label for="{{sourceCtrl.selectId}}" class="col-xs-3 control-label">Source name: </label>
            <div class="col-xs-7">
                <aw-search-select2 class="form-control" elem-id="{{sourceCtrl.selectId}}" controller="sourceCtrl"></aw-search-select2>
            </div>
            <div ng-click="sourceMngmtCtrl.startUpdate()" ng-hide="sourceMngmtCtrl.isNewSource">
                <button type="button" class="btn btn-default btn-sm">
                    <i class="glyphicon glyphicon-edit"></i>
                </button>
            </div>
        </div>
        <div class="form-group" ng-controller="MngmtSourceSelectionUpdateCtrl as sourceUpdateCtrl" ng-show="sourceMngmtCtrl.isUpdatingSource">
            <label for="{{sourceUpdateCtrl.selectId}}" class="col-xs-3 control-label">Update source name: </label>
            <div class="col-xs-7">
                <aw-select2 elem-id="{{sourceUpdateCtrl.selectId}}" controller="sourceUpdateCtrl"></aw-select2>
            </div>
            <div ng-click="sourceMngmtCtrl.cancelUpdate()">
                <button type="button" class="btn btn-default btn-sm">
                    <i class="glyphicon glyphicon-remove"></i>
                </button>
            </div>            
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <aw-success-display success="sourceMngmtCtrl.isSuccess"></aw-success-display>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <aw-error-display errors="sourceMngmtCtrl.errors"></aw-error-display>
            </div>
        </div>
        <div class="row">
            <hr />
        </div>
        <div class="row">
            <div class="col-xs-6" ng-show="sourceMngmtCtrl.isNewSource">
                <button type="button" class="btn btn-success btn-sm pull-right" ng-click="sourceMngmtCtrl.submitSource()">
                Create
                </button>
            </div>
            <div class="col-xs-6" ng-hide="sourceMngmtCtrl.isNewSource">
                <button type="button" class="btn btn-primary btn-sm pull-right" ng-click="sourceMngmtCtrl.updateSource()">
                Update
                </button>
            </div>
            <div class="col-xs-6">
                <button type="button" class="btn btn-danger btn-sm" ng-click="sourceMngmtCtrl.clearSource()">
                Clear
                </button>
            </div>
        </div>
    </form>
</div>